
WebCertamen/.project
WebCertamen/.classpath
WebCertamen/.settings/.jsdtscope
*.jpg
*.png
*.class
WebCertamen/WebCertamen/
*.prefs
*.jar
WebCertamen/.settings/org.eclipse.wst.jsdt.ui.superType.name
WebCertamen/.settings/org.eclipse.wst.jsdt.ui.superType.container
WebCertamen/.settings/org.eclipse.wst.common.project.facet.core.xml
WebCertamen/.settings/org.eclipse.wst.common.component
WebCertamen/.mvn/wrapper/maven-wrapper.properties
WebCertamen/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
WebCertamen/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
WebCertamen/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
WebCertamen/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
WebCertamen/target/surefire-reports/tajador.certamen.WebCertamenApplicationTests.txt
WebCertamen/target/surefire-reports/TEST-tajador.certamen.WebCertamenApplicationTests.xml
